<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="ProductDB" 
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ProductDB;Integrated Security=True" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="MaxProductID" value="999"/>
        <add key="MinProductID" value="0"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
