<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pupil Index</title>
</head>
<body>
  <h2>Pupil Details</h2>
  <a action="" asp-action="Show">Show Details</a>
</body>
</html>