<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student</title>
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a> | 
            <a asp-controller="Practise" asp-action="Index">Practise</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
